div {
  text-align: center;
}

input {
  height: 1.5rem;
  margin: 0.3rem;
}
label {
  font-weight: 900;
}

button {
  height: 2rem;
  background-color: red;
  color: aliceblue;
  font-weight: 900;
  margin: 0.3rem;
  border: 2 solid rgb(134, 130, 130);
}
